@font-face {
    font-family: 'Antura Script';
    src: url('AnturaScript.woff2') format('woff2'),
        url('AnturaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}